<?xml version="1.0" ?>
<robot name="ASSY" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find ASSY_description)/urdf/materials.xacro" />
<xacro:include filename="$(find ASSY_description)/urdf/ASSY.trans" />
<xacro:include filename="$(find ASSY_description)/urdf/ASSY.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.0 2.3389564020396408e-17 0.06131529627998313" rpy="0 0 0"/>
    <mass value="6.221541887517502"/>
    <inertia ixx="0.035631" iyy="0.035631" izz="0.048774" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ASSY_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ASSY_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="2nd_link_1">
  <inertial>
    <origin xyz="9.783844711946835e-18 1.0078181669594599e-18 0.04588602552300172" rpy="0 0 0"/>
    <mass value="0.6453424717672056"/>
    <inertia ixx="0.001214" iyy="0.001232" izz="0.001086" ixy="-3e-06" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.0 -0.16" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ASSY_description/meshes/2nd_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.0 -0.16" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ASSY_description/meshes/2nd_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="3rd_link_1">
  <inertial>
    <origin xyz="0.009015719595180995 -0.0593778352449694 0.010570798660008512" rpy="0 0 0"/>
    <mass value="0.34973891311064575"/>
    <inertia ixx="0.000803" iyy="0.000534" izz="0.000486" ixy="4.6e-05" iyz="0.000153" ixz="-3.6e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.007151 -0.049486 -0.223" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ASSY_description/meshes/3rd_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.007151 -0.049486 -0.223" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ASSY_description/meshes/3rd_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="4th_link_1">
  <inertial>
    <origin xyz="-0.008195842234604123 0.0594960109393662 0.010571994781106875" rpy="0 0 0"/>
    <mass value="0.34973891311064575"/>
    <inertia ixx="0.000807" iyy="0.000531" izz="0.000486" ixy="3.5e-05" iyz="-0.000157" ixz="1e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.013508 0.053619 -0.362884" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ASSY_description/meshes/4th_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.013508 0.053619 -0.362884" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ASSY_description/meshes/4th_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="5th_link_1">
  <inertial>
    <origin xyz="0.008703108456258516 -0.056370566070146066 0.015578827132052386" rpy="0 0 0"/>
    <mass value="0.37730970943744063"/>
    <inertia ixx="0.000904" iyy="0.000628" izz="0.000514" ixy="4.2e-05" iyz="4e-05" ixz="-2e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.003694 -0.051053 -0.502785" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ASSY_description/meshes/5th_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.003694 -0.051053 -0.502785" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ASSY_description/meshes/5th_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolute 1" type="continuous">
  <origin xyz="0.0 0.0 0.16" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="2nd_link_1"/>
  <axis xyz="0.0 0.0 -1.0"/>
</joint>

<joint name="Revolute 2" type="continuous">
  <origin xyz="-0.007151 0.049486 0.063" rpy="0 0 0"/>
  <parent link="2nd_link_1"/>
  <child link="3rd_link_1"/>
  <axis xyz="0.143022 -0.98972 -0.0"/>
</joint>

<joint name="Revolute 3" type="continuous">
  <origin xyz="0.020659 -0.103105 0.139884" rpy="0 0 0"/>
  <parent link="3rd_link_1"/>
  <child link="4th_link_1"/>
  <axis xyz="0.143022 -0.98972 -0.0"/>
</joint>

<joint name="Revolute 4" type="continuous">
  <origin xyz="-0.009814 0.104672 0.139901" rpy="0 0 0"/>
  <parent link="4th_link_1"/>
  <child link="5th_link_1"/>
  <axis xyz="-0.143022 0.98972 -0.0"/>
</joint>

</robot>
